// size mixins
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

@mixin minWidth($width, $minWidth: 0) {
	width: $width;
	min-width: $minWidth;
}

@mixin minSize($width, $height, $minWidth: 0) {
	width: $width;
	height: $height;
	min-width: $minWidth;
}

@mixin wrapper($width: 960px) {
	width: $width;
	margin: 0 auto;
}

@mixin flex($direction: row, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}