// meta
$font: 'Roboto', Arial, Verdana;
$fSize: 14px;

// navigation
$itemBg: #3498db;
$itemColor: #fff;
$navBg: #3498db;
$itemBgHover: #2980b9;
$navHeight: 60px;
$dropdownBg: #2980b9;
$dropdownLink: #fff;